<link rel="stylesheet" href="/css/user_profile.css">
<div class="above-post">

<div id="about">

    <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="150px" height="150px"> 
 <span><%= profile_user.name %> </span>
 <p>
  <%= profile_user.about %>

 </p>
</div>
<%if(locals.user.id != profile_user.id){%>
  <div id="likePage">

    <%if(!isfriend){%>
        <a href="/friends/create/?id=<%=profile_user._id%>" class="page-like-button" data-value="Like page" >
          <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/facebook-like.png" alt="facebook-like"/>
            Like 
          </a>
        <%}else{%>
        <a href="/friends/destroy/?id=<%=profile_user._id%>" class="page-unlike-button" data-value="Unlike page" >
          <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/facebook-like.png" alt="facebook-like"/>
          Liked
            </a>     
            <%}%>
          </div>

    <%}else{%>


      
    <button id ="edit-info"> <img width="24" height="24" src="https://img.icons8.com/material-sharp/24/edit--v1.png" alt="edit--v1"/> Edit profile</button>

 <%}%>
</div>
<div id="middle">

 <div id="posts-list-container">
    <ul id="posts-list">
      <% for(post of items) {%>
        <%- include('_posts') -%>
            <% } %>
      </ul>
    </div>
 
<div id="right">
  <form action="/users/update?id=<%=profile_user.id %>" enctype="multipart/form-data" method="post" id="form-edit-info">
    <span>
      Name:
    <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
    </span>
    <span>
      Email:
      <input type="email" name="email" placeholder="Youe email" value="<%= profile_user.email %>" required>
    </span>
    <span>
      About: 
      <input type="text" name="about" placeholder="Tell Something about yourself" value="<%= profile_user.about%>" >
    </span>
    <span>
      Password:
      <input type="password" name="password" id="" value="<%= profile_user.password %>" >
    </span>
    <span>

      <label for="avatar" class="custom-file-button">

        <img width="40" height="40" src="https://img.icons8.com/doodle/48/stack-of-photos--v1.png" alt="stack-of-photos--v1"/>
        Profile picture:
    </label>
      <input type="file" name="avatar"  placeholder="Profile Picture" id="avatar">
    </span>
      <input type="submit" value="Update" id="form-submit">
  </form>


</div>
</div>