<h1>Connections || <%=title %> </h1>


<section id="posts">
    <form action="/posts/create" id="new-post-form" enctype="multipart/form-data" method="post">
        
        <div>
            <label for="image">Upload Image</label>
            <br>
        <input type="file" name="image" id="image" value="" required>
        </div>

        <div>
            <label for="desc">Image Description</label>
            <br>
            <textarea
              id="desc"
              name="caption"
              value=""
              rows="2"
              placeholder="Caption"
              required
            >
            </textarea>
        </div>
       
        <input type="submit" value="submit">
    </form>

    <div id="posts-uploaded">

            <% items.forEach(function(post) { %>
            <div>
              <div>
                <p><%=post.user.name %></p>
                <img src="data:<%= post.img.contentType %>;base64, <%= post.img.data.toString('base64') %>" alt="Post Image" width="300px" height="350px">
                <div>
                  <p><%= post.caption %></p>
                </div>
                <div class="post-comments">
                    <form action="/comments/create" method="post" id="comments-form">
                        <input type="text" name="content"  placeholder="Enter your comment">
                        <input type="hidden" name="post" value="<%= post._id%>">
                        <input type="submit" value="Add Comment">        
                    </form>
                </div>
                <div id="post-comments">
                    <% for(comment of post.comments){ %>
                        <%= comment.content%>    &emsp; &emsp; &emsp; -  <%= comment.user.name %>
                        <br>
                      
                    <%}%>
                </div>

              </div>

            </div>
            <% }) %>

            
    </div>
</section>