<link rel="stylesheet" href="/css/user_profile.css">

<%if(!profile_user.isceleb_organization){%>
  <div class="above-post">
    <div id="about">
    <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="150px" height="150px"> 
 <span><%= profile_user.name %> </span>
 <p>
  <%= profile_user.about %>

 </p>
</div>

<%if(locals.user.id != profile_user.id){%>
<%if(!locals.user.isceleb_organization){%>
<div id="friend-request">
  <p>
    <%if(!isfriend){%>
    <a href="/friends/create/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" class="not-friend" >
      <img width="30" height="30" src="https://img.icons8.com/pastel-glyph/64/ffffff/add-male-user.png" alt="add-male-user"/>
      Add friend
    </a>
    <%}else if(isfriend.status == 'pending'){%>
      <%if(isfriend.receiver.id == locals.user.id){%>
        <a href="/friends/accept/?id=<%= isfriend.sender._id %>" id="remove-request">
      <img width="30" height="30" src="https://img.icons8.com/pastel-glyph/64/ffffff/add-male-user.png" alt="add-male-user"/  >

          Accept
      </a>
        <%}%>
      <a href="/friends/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" class="not-friend" id="remove-request" >
        <img width="30" height="30" src="https://img.icons8.com/windows/32/FFFFFF/unfriend-male.png" alt="unfriend-male"/>
        Delete Request
        </a>
    <%}else{%>
      <span id="chat-box-open">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/speech-bubble-with-dots.png" alt="speech-bubble-with-dots"/> 
        Message
      </span>
      <a href="/friends/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" class="not-friend" >
        <img width="30" height="30" src="https://img.icons8.com/windows/32/FFFFFF/unfriend-male.png" alt="unfriend-male"/>
        remove friend
      </a>
      
      <%}%>
</p>
</div>
<%}else{%>
  <div id="follow">
    <p>
      <%if(!isfollow){%>
      <a href="/follow/create/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
        Follow
      </a>
      <%}else{%>
        <a href="/follow/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
          Unfollow
        </a>
        <%}%>
  </p>
  </div>
<%}}else{%>



    <button id ="edit-info"> <img width="24" height="24" src="https://img.icons8.com/material-sharp/24/edit--v1.png" alt="edit--v1"/> Edit profile</button>


 <%}%>
  </div>

<div id="middle">

<div id="posts-list-container">
  <ul id="posts-list">
  <% for(post of items) {%>
    <%- include('_posts') -%>
        <% } %>
  </ul>
</div>

<div id="right">
  <form action="/users/update?id=<%=profile_user.id %>" enctype="multipart/form-data" method="post" id="form-edit-info">
    <span>
      Name:
    <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
    </span>
    <span>
      Email:
      <input type="email" name="email" placeholder="Youe email" value="<%= profile_user.email %>" required>
    </span>
    <span>
      About: 
      <input type="text" name="about" placeholder="Tell Something about yourself" value="<%= profile_user.about%>" >
    </span>
    <span>
      Password:
      <input type="password" name="password" id="" value="<%= profile_user.password %>" >
    </span>
    <span>

      <label for="avatar" class="custom-file-button">

        <img width="40" height="40" src="https://img.icons8.com/doodle/48/stack-of-photos--v1.png" alt="stack-of-photos--v1"/>
        Profile picture:
    </label>
      <input type="file" name="avatar"  placeholder="Profile Picture" id="avatar">
    </span>
      <input type="submit" value="Update" id="form-submit">
  </form>


</div>

</div>

<%if(!locals.user.isceleb_organization){%>
<%if(isfriend && isfriend.status=='accepted'){%>
<div>
  <%- include('_chat_box')  -%>
</div>
<%}}%>
<%}else{%>

    <%- include('_celebORorganization')-%>



  <%}%>


<script src="/js/reaction_created.js"></script>
<script>
    $('.reactions-container').each(function () {
        let self = this;
        //   console.log(this);
        let toggleReaction = new ToggleReaction(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat_engine.js"></script>

<script>
  $('#chat-box-open').click(()=>{
    $('#user-chat-box').css('display', 'block');
  new ChatEngine('user-chat-box', '<%= locals.user.email %>','<%= profile_user.email %>' ,'<%=locals.user._id%>', '<%=profile_user._id%>', '<%= locals.user.name%>','<%=profile_user.name%>','<%=locals.user.avatar%>','<%=profile_user.avatar%>');
    var chatBox = $('#chat-messages-list');
        chatBox.scrollTop(chatBox.prop("scrollHeight"));
  });

  $('#cross').click(()=>{
    $('#user-chat-box').css('display', 'none');
  });

  $('.show-comments-section').click(()=>{
        $('.post-comments').toggle();
        $('.post-comments-list').toggle();
    });

  $('#edit-info').click(() => {
    $('#right').toggle(); // Show the edit profile form
  });



  $('#form-edit-info').on('reset', () => {
    $('#overlay').css('display', 'none'); // Hide the overlay when the form is reset (canceled)
    $('#form-edit-info').css('display', 'none'); // Hide the edit profile form
  });


</script>