<link rel="stylesheet" href="/css/user_profile.css">
<h1>Connections || <%=title %></h1>


<div id="about">
<%if(!profile_user.isceleb_organization){%>
  <%if(profile_user.avatar){%>
    <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="100px" height="100px">
    <%}else{%>
  <%= profile_user.avatar%>

      <img src= "/images/user-profile.png" alt="<%=profile_user.name%>" width="100px" height="100px">
      <%}%>
    <br>
 <%= profile_user.name %> 
 <br>
 <%= profile_user.about %>
</div>

<%if(locals.user.id != profile_user.id){%>
<%if(!locals.user.isceleb_organization){%>
<div id="friend-request">
  <p>
    <%if(!isfriend){%>
    <a href="/friends/create/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
      Add friend
    </a>
    <%}else if(isfriend.status == 'pending'){%>
      <%if(isfriend.receiver.id == locals.user.id){%>
        <a href="/friends/accept/?id=<%= isfriend.sender._id %>">
          Accept
      </a>
        <%}%>
        &emsp14;
      <a href="/friends/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
        Delete Request
        </a>
    <%}else{%>
      <a href="/friends/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
        remove friend
      </a>
      <%}%>
</p>
</div>
<%}else{%>
  <div id="follow">
    <p>
      <%if(!isfollow){%>
      <a href="/follow/create/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
        Follow
      </a>
      <%}else{%>
        <a href="/follow/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
          Unfollow
        </a>
        <%}%>
  </p>
  </div>
<%}}else{%>

  <div>

    <button id ="edit-info">Edit Info?</button>

    <form action="/users/update?id=<%=profile_user.id %>" enctype="multipart/form-data" method="post" id="form-edit-info">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Youe email" value="<%= profile_user.email %>" required>
        <input type="text" name="about" placeholder="Tell Something about yourself" value="<%= profile_user.about%>" >
        <input type="password" name="password" id="" value="<%= profile_user.password %>" >
        <input type="file" name="avatar"  placeholder="Profile Picture" id="">
        <input type="submit" value="Update" id="form-submit">
    </form>

    </div>

    <div id="overlay"></div>

 <%}%>

<div id="posts-list-container">
<ul>
  <% for(post of items) {%>
    <%- include('_posts') -%>
        <% } %>
  </ul>
</div>
<%if(!locals.user.isceleb_organization){%>
<%if(isfriend && isfriend.status=='accepted'){%>
<div>
  <%- include('_chat_box')  -%>
</div>
<%}}%>
<%}else{%>

  <%- include('_celebORorganization')-%>

  <%}%>
<script src="/js/reaction_created.js"></script>
<script>
    $('.reactions-container').each(function () {
        let self = this;
        //   console.log(this);
        let toggleReaction = new ToggleReaction(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat_engine.js"></script>

<script>
  $('#chat-box-open').click(()=>{
    $('#user-chat-box').css('display', 'block');
  new ChatEngine('user-chat-box', '<%= locals.user.email %>','<%= profile_user.email %>' ,'<%=locals.user._id%>', '<%=profile_user._id%>', '<%= locals.user.name%>');
    $('#chat-box-open').css('display', 'none');
    var chatBox = $('#chat-messages-list');
        chatBox.scrollTop(chatBox.prop("scrollHeight"));
  });

  $('#cross').click(()=>{
    $('#chat-box-open').css('display', 'block');
    $('#user-chat-box').css('display', 'none');
  });


  $('#edit-info').click(() => {
    $('#overlay').css('display', 'block'); // Show the overlay
    $('#form-edit-info').css('display', 'block'); // Show the edit profile form
  });

  $('#form-edit-info').submit(() => {
    $('#overlay').css('display', 'none'); // Hide the overlay when the form is submitted
    $('#form-edit-info').css('display', 'none'); // Hide the edit profile form
  });

  $('#form-edit-info').on('reset', () => {
    $('#overlay').css('display', 'none'); // Hide the overlay when the form is reset (canceled)
    $('#form-edit-info').css('display', 'none'); // Hide the edit profile form
  });


</script>