<link rel="stylesheet" href="/css/user_profile.css">
<h1>Connections || <%=title %></h1>
<div id="about">
  name: <%= profile_user.name %>
  email: <%= profile_user.email %>
</div>
<%if(locals.user.id != profile_user.id){%>
<div id="friend-request">
  <p>
    <%if(!isfriend){%>
    <a href="/friends/create/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
      Add friend
    </a>
    <%}else if(isfriend.status == 'pending'){%>
      <%if(isfriend.receiver.id == locals.user.id){%>
        <a href="/friends/accept/?id=<%= isfriend.sender._id %>">
          Accept
      </a>
        <%}%>
        &emsp14;
      <a href="/friends/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
        Delete Request
        </a>
    <%}else{%>
      <a href="/friends/destroy/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
        remove friend
      </a>
      <%}%>
</p>
</div>
<%}%>

<div id="posts-list-container">
<ul>
  <% for(post of items) {%>
    <%- include('_posts') -%>
        <% } %>
  </ul>
</div>


<script src="/js/reaction_created.js"></script>
<script>
    $('.reactions-container').each(function () {
        let self = this;
        //   console.log(this);
        let toggleReaction = new ToggleReaction(self);
    });
</script>