<link rel="stylesheet" href="/css/user_profile.css">
<h1>Connections || <%=title %></h1>


<div id="posts-uploaded">

    <% items.forEach(function(post) { %>
    <div>

       
     
      <div>
        <p><%=post.user.name %>   
          <% if(locals.user&&(locals.user.id == post.user.id)) { %>
          <small>
            <a href="/posts/destroy/<%= post.id %>">X</a>
          </small>
          <%}%> 
        </p>
        <img src="data:<%= post.img.contentType %>;base64, <%= post.img.data.toString('base64') %>" alt="Post Image" width="300px" height="350px">
          <p><%= post.caption %></p>
        </div>
        <div class="post-comments">
            <form action="/comments/create" method="post" id="comments-form">
                <input type="text" name="content"  placeholder="Enter your comment">
                <input type="hidden" name="post" value="<%= post._id%>">
                <input type="submit" value="Add Comment">        
            </form>

      </div>
      <div id="post-comments">
        <% for(comment of post.comments){ %>
          <%- include('_comment') -%>
       
          <%}%>
    </div>
    </div>
    <% }) %>

    
</div>